modules/checkpoints/best.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_GRUGRU_pretrain_5mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_latent_nonlin_beta0.5.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_arch_GRUGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_arch_biGRUGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_char_weights_beta1.0.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_arch_biGRUbiGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_beta0.5.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_1mil_ce.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_char_weights_beta0.5.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_1mil_ce.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_arch_biGRUbiGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_beta1.0.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_GRUGRU_prop_pred_1mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_arch_GRUGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/current_best_latent_char_weights_beta0.1.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_GRUGRU_pretrain_1mil_large.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_GRUGRU_transfer_1mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_GRUGRU_pretrain_1mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_latent_nonlin_beta0.1.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_GRUGRU_pretrain_1mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_arch_ConvbiGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_latent_nonlin_beta0.1.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_arch_biGRUGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_latent_nonlin.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_GRUGRU_prop_pred_1mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_arch_ConvGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_latent_nonlin_beta0.5.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_arch_ConvbiGRU.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_char_weights_beta0.1.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_char_weights_beta1.0.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_GRUGRU_transfer_5mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_arch_GRUGRU_large.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_char_weights_beta0.1.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_latent_nonlin.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/best_GRUGRU_pretrain_10mil.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/current_best_arch_GRUGRU_0523.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_100k.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_beta0.1.ckpt filter=lfs diff=lfs merge=lfs -text
modules/checkpoints/latest_char_weights_beta0.5.ckpt filter=lfs diff=lfs merge=lfs -text
